{% extends 'base.html' %}
{% block content_container %}
<div id="carousel-main" class='carousel carousel-main slide' data-ride="carousel" data-pause="false">
    <div class="carousel-inner" role=="listbox">
        <div class="item active">
            <img src='./static/dist/img1.jpg' alt='...'>
        </div>
        <div class="item">
            <img src="./static/dist/img2.jpg" alt="...">
        </div>
        <div class="item">
            <img src="./static/dist/img3.jpg" alt="">
        </div>
    </div>
</div>
<div class="container container-content">
    <a id="section-our-story"></a>
    <section class="section">
        <h3 class="dashed">Our Story</h3>
        <p>Lorem ipsum dolor sit amet, sea te veniam disputationi, sit in virtute eruditi. Ius ad veritus fuisset. Est odio sensibus ne. An etiam debitis est. Ludus affert argumentum eos ut.</p>
        <p>Prima labitur sit te. Vix altera labores recusabo ne, labore deleniti an vel. Mei diceret sensibus rationibus ne, id facete inermis nec, cu nulla sententiae mei. Qui populo indoctum repudiare ne.</p>
        <p>Te epicurei efficiantur pri. Errem invidunt has ad, ius in mucius detracto. Ut pri sonet reprehendunt. Homero possim animal et mea.</p>
        <p>Ea nobis accusam menandri qui, dicta fabulas appareat an sea. Voluptua nominati patrioque pri te, vis ea utroque consequat, no mel vidit dicat impedit. Scripserit temporibus cu has. Minim postea fabulas in has. At alia posse dicit his, est ne mutat veniam laoreet. Pro eu quem dicit, nec dicunt feugait ea, no ius veri feugait assentior.</p>
        <p>Laoreet instructior nec ne. Quas euripidis philosophia vix no, tale cotidieque cu quo. In malis singulis mei. Ex has porro accommodare. In falli omittam mandamus per, possim mediocrem te ius, sed eu mentitum intellegam temporibus. Sed prima errem hendrerit et, ad dicta saepe munere vim, ex sed magna choro suavitate.</p>
    </section>
    <a id="section-what-we-do"></a>
    <section class="section section-what-we-do">
        <h3 class="dashed align-right">What We Do</h3>
        <p>Laoreet instructior nec ne. Quas euripidis philosophia vix no, tale cotidieque cu quo. In malis singulis mei. Ex has porro accommodare. In falli omittam mandamus per, possim mediocrem te ius, sed eu mentitum intellegam temporibus. Sed prima errem hendrerit et, ad dicta saepe munere vim, ex sed magna choro suavitate.</p>
        <p>Prima labitur sit te. Vix altera labores recusabo ne, labore deleniti an vel. Mei diceret sensibus rationibus ne, id facete inermis nec, cu nulla sententiae mei. Qui populo indoctum repudiare ne.</p>
        <p>Te epicurei efficiantur pri. Errem invidunt has ad, ius in mucius detracto. Ut pri sonet reprehendunt. Homero possim animal et mea.</p>
        <p>Ea nobis accusam menandri qui, dicta fabulas appareat an sea. Voluptua nominati patrioque pri te, vis ea utroque consequat, no mel vidit dicat impedit. Scripserit temporibus cu has. Minim postea fabulas in has. At alia posse dicit his, est ne mutat veniam laoreet. Pro eu quem dicit, nec dicunt feugait ea, no ius veri feugait assentior.</p>
        <p>Lorem ipsum dolor sit amet, sea te veniam disputationi, sit in virtute eruditi. Ius ad veritus fuisset. Est odio sensibus ne. An etiam debitis est. Ludus affert argumentum eos ut.</p>
    </section>
    <a id="section-contact-us"></a>
    <section class="section section-contact-us">
        <h3 class="dashed">Contact Us</h3>
        <p>Te epicurei efficiantur pri. Errem invidunt has ad, ius in mucius detracto. Ut pri sonet reprehendunt. Homero possim animal et mea.</p>
        <p>Ea nobis accusam menandri qui, dicta fabulas appareat an sea. Voluptua nominati patrioque pri te, vis ea utroque consequat, no mel vidit dicat impedit. Scripserit temporibus cu has. Minim postea fabulas in has. At alia posse dicit his, est ne mutat veniam laoreet. Pro eu quem dicit, nec dicunt feugait ea, no ius veri feugait assentior.</p>
        <p>Laoreet instructior nec ne. Quas euripidis philosophia vix no, tale cotidieque cu quo. In malis singulis mei. Ex has porro accommodare. In falli omittam mandamus per, possim mediocrem te ius, sed eu mentitum intellegam temporibus. Sed prima errem hendrerit et, ad dicta saepe munere vim, ex sed magna choro suavitate.</p>
    </section>
</div>
{% endblock %}
